*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --paragraph: 16px */
}

body{
  font-family:var(--open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}

.container{
  margin: 0px auto;
  color: var(--very-dark-blue);
}

.header{
  margin: 25px 25px;
  font-family: var(--raleway);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__figure{
  width: 25%;
}

.header__logo{
  width: 100%;
  max-width: 150px;
}

.header__nav{
  display: flex;
  gap:20px;
  font-weight: 400;
}

.header__item{
  font-size: 14px;
  text-decoration: none;
  color: var(--very-dark-blue);
}

.s-one{
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
}

.figure{
  width: 90%;
  margin: 0 auto;
}

.image{
  width: 100%;
}

.text{
  text-align: center;
  margin: 0 25px;
}

.titles{  
  font-family: var(--raleway);
  margin: 20px auto;
  line-height: 1.4em;
}

.paragraph{
  font-size: 14px;
  padding: 0 10px 30px;
}

.form-one{
  display: flex;
  flex-direction: column;
  font-family: var(--raleway);
  font-size: 14px;
  margin: 0 35px;
}

.email{
  padding: 10px 20px;
  font-family: var(--raleway);
}
.cta{
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
  background-color: var(--bright-blue);
  padding: 12px ;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0px #c7c6c6;;
}

::placeholder {
  color: rgb(170, 169, 169);
  font-family: var(--raleway);
}

.s-two{
  display: flex;
  flex-direction: column;
  margin: 130px 0px 0px;
  background-color: var(--light-grayish-blue);
  padding: 50px 0;
  position: relative;
}

.wave{
  position: absolute; 
  width: 100%;
  height:100px;
  background-repeat: no-repeat;
  background-size: 100% 60px;
  left: 0px;
  top:-50px;
  background-image:url('../images/bg-curve-mobile.svg');

}

.t-two{
  font-size: 16px;
  margin-top: 60px;
}

.paragraphtwo{
  text-align: left;
  font-size: 14px;
  color: gray;
  margin: 20px 10px;
  border: 1;
}

.cta-two{
  text-decoration: none;
  color: var(--moderate-cyan);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--moderate-cyan);
  margin: 30px 90px 40px;
  padding: 5px 0px;
  width: fit-content;
}

.icon-arrow{
  padding-left: 8px;
}

.card{
  background-color: #fff;
  width: 280px;
  box-shadow: 1px 1px 10px 0px #c7c6c6;
  padding: 20px;
  padding-left: 25px;
  margin: 30px auto;
  border-radius: 3px;
  text-align: left;
}

.text-card{
  font-size: 11px;
  line-height: 1.5em;
  font-family: var(--open-sans);
}

.avatar{
  margin: 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:10px;
  line-height: 1em;
}

.avatar__img{
    width: 30px;
    border-radius: 50px;
}

.nombre{
  font-size: 10px;
  font-weight:bold ;
}

.cargo{  
  font-size: 8px;
}

.s-three{
  background-color: var(--desaturated-blue);
  color:#fff;
  padding: 50px 45px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text-three{
  width: 100%;
}

.t-three{
  font-family: var(--raleway);
  margin-bottom: 25px;
}

.paragraphthree{
  font-family: var(--open-sans);
  font-size: 14px;
  margin-bottom: 30px;
}

.last-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.last-email{
  font-size: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  box-shadow: 1px 1px 0px 0px #c7c6c6;
}

.last-cta{
  font-family: var(--raleway);
  width: 80%;
  background-color: var(--bright-blue);
  padding: 6px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
}


.footer{
  font-size: 14px;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.footer__contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__container{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.footer__figure{
  margin: 25px 0;
  width: 40%;
}

.footer__img{
  max-width: 350px;
  width: 100%;
}

.contact{
  display: flex;
  gap: 20px;
}

.img-contact{
  width: 20px;
  height: 18px;
}

.lista{
  display: flex;
  flex-direction: column;
  gap:15px;
  margin-top: 30px;
}

.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.icon{
  width: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3px;
}


@media screen and (min-width: 768px) {

  .header{
    margin: 50px 50px;
  }
  .header__nav{
    gap:50px;
  }

  .s-one{
    flex-direction: row-reverse;
    margin: 60px 50px;
  }

  .form-one{
    flex-direction: row;
    margin: 0 25px ;
  }
  
  .text{
    margin-top: 120px;
    padding-right: 0px;
    text-align: left;
  }
  
  .titles{  
    font-size: 40px;
  }
  
  .paragraph{
    font-size: 18px;
    padding: 0 80px 20px 0;
  }
  
  .email{
    width: 50%;
    max-height: 45px;
    margin-right: 20px;
  }
  .cta{
    margin: 0;
    padding: 12px 55px ;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0px #c7c6c6;;
  } 

  .s-two{
    flex-direction: row-reverse;
    align-items: center;
    margin: 250px 0px 0px;
  }

  .wave{
    background-size: 100% 100px;
    top:-100px;
    background-image:url('../images/bg-curve-desktop.svg');
  }

  .t-two{
    margin-left: 50px;
  }
  
  .text-two{
    width: 100%;
  }

  .paragraphtwo{
    font-size: 18px;
    color: black;
    padding: 10px 80px 0px 0px;
    margin-left: 50px;
  }

  .cta-two{
    justify-content: left;
    margin: 0px;
    margin-left: 50px;
    padding: 5px 0px;
    width: fit-content;
    font-size: 16px;
  } 

  .card{ 
    width: 350px; 
    margin: 40px 50px;
  }
  
  .text-card{
    font-size: 14px;
  }

  .avatar__img{
      width: 35px;
  }

  .nombre{
    font-size: 12px;
  }

  .cargo{  
    font-size: 10px;
  }

  .s-three{
    flex-direction: row;
    text-align: left;
    gap: 100px;
  }
  
  .text-three{
    width: 50%;
    margin-left: 30px;
  }

  .last-form{
    width: 50%;
  }

  .t-three{
    font-size: 25px;
    margin-top:30px
  }

  .paragraphthree{
    margin: 0px;
    padding-right: 100px;
    font-size: 16px;
  }

 .last-form{
    gap:20px;
    align-items: start;
  } 
  
  .last-email{
    font-size: 14px;
    width: 80%;
  }
  
  .last-cta{
    text-align: center;
    width: 40%;
    padding: 8px;
    font-size: 14px;
  }

  .footer{
    font-size: 18px;
    flex-direction: row;
    gap:150px;
  }  

  .footer__contact{
    margin-left: 30px;
  }

  .footer__container{
    flex-direction: row;
    gap: 200px;
  }

  .lista{
    margin-top: 120px;
  }

  .social-media{
    margin-top: 20px;
  }

}
