*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --paragraph: 16px */
}

body{
  font-family:var(--open-sans)
}

.mx{
  padding: 25px 25px;
}

.font_raleway{
  font-family: var(--raleway);
  font-weight: 700;
}

/* Header */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container__section{
  position: relative;
  padding-bottom: 100px;
}

.header__nav{
  display: flex;
  gap:20px;
}

.header__figure{
  width: 25%;
}

.header__logo{
  width: 100%;
}

.header__item{
  text-decoration: none;
  font-size:small;
}

/* Section First */

.access {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px
}

.access__figure{  
  margin-top: 25px;
  width: 90%;
}

.access__img{
  width: 100%;
  display: block;
  margin: 0 auto;
}

.access__texts{
  margin: 40px auto;
  text-align: center;
}

.title{
  font-weight: 700;
}

.paragraph{
  padding: 30px 0;
  font-size: 15px;
  /* margin: 0 20px; */
}

.access__form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:20px
}

.access__email{
  width: 100%;
  padding: 10px 18px;
  margin: 0 10px;
  border-radius: 5px;  
}

::placeholder {
  color: rgb(170, 169, 169);
}


.access__cta{
  width: 100%;
  padding: 10px 18px;
  margin: 0 10px;
  background-color: var(--bright-blue);
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0px #c7c6c6;;
}

.wave{
  position: absolute; 
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%,100px;
}

.wave--bottom{  
  left: 0;
  bottom:0px;
  background-image:url('../images/bg-curve-mobile.svg');
}

/* Section Second */

.description{
  background-color: var(--light-grayish-blue);
  padding-bottom: 50px;
  margin: 0 auto;
}

.content{
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__texts{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap:40px;
}

.title-second{
  margin-top: 50px;
}

.paragraphtwo{
  text-align:left;
  padding-top: 30px;
  font-size: 14px;
}

.cta_arrow{  
  padding-bottom: 10px;
}

.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--moderate-cyan);
  text-underline-offset: 8px; 
  text-decoration-thickness: 2px;   
}

.icon-arrow{
  width: 20px;
}

.card{
  background-color: #fff;
  width: 300px;
  box-shadow: 1px 1px 10px 0px #c7c6c6;;
  padding: 20px;
  border-radius: 3px;
}

/* Section third */
.third{
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px

}

.title-third{
  margin-top: 30px;
  text-align: center;
}

.paragraphthird{
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.text{
  font-size: 11px;
}

.avatar{
  margin: 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:10px
}

.avatar__img{
    width: 30px;
    border-radius: 50px;
}

.nombre{
  font-size: 12px;
  font-weight:bold ;
}

.cargo{  
  font-size: 10px;
}

.section-last{
  color: #fff;
  background-color: var(--desaturated-blue);
}

.last-form{
  width: 70%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.last-email{
  font-size: 12px;
  padding: 6px 40px;
  border-radius: 2px;
  border-style: none;
  width: 100%;
}


.last-cta{
  width: 100%;
  font-size: 10px;
  padding: 9px 18px;
  margin: 10px auto;
  background-color: var(--bright-blue);
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 2px; 
}

.footer{
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.footer__contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__container{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.footer__figure{
  margin: 25px 0;
  width: 40%;
}

.footer__img{
  max-width: 350px;
  width: 100%;
}

.contact{
  display: flex;
  gap: 20px;
}

.lista{
  display: flex;
  flex-direction: column;
  gap:15px;
  margin-top: 30px;
}

.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.circle{
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 18px;
}


@media (min-width:768px){

  .mx{
      padding: 50px 50px;
  }

  .header__figure{
    width: 15%;
  }

  .header__nav{
    gap:50px;
  }

  .header__item{
    font-size: large;
  }

  .paragraph{
    font-size: 18px;
  }

  .access {
    padding-bottom: 200px; 
    flex-direction: row-reverse;
  }


  .access__texts{
    text-align: left;
  }

  .title, .title-second{
    font-size: 2.5em;
  }

  .access__form{
    display: flex;
    flex-direction: row;
    gap:10px
  }

  .access__email{
    width: 55%;
    padding: 13px 18px;
    margin: 0 0;
  }
  
  .access__cta{
    width: 35%;
    padding: 13px 18px;
    margin: 0 0px;
  
  }

  .wave--bottom{  
    background-image:url('../images/bg-curve-desktop.svg');
    height: 100px;
  }

  .content{
    flex-direction: row-reverse;
  }

  .content__img{
    width: 85%;
  }
  .content__texts{
    align-items:start;
    width: 100%;
    gap:15px
  }

  .cta_arrow{
    padding-bottom: 40px;
  }

  .paragraphtwo{
    width: 70%;
  }

  .third{
    flex-direction: row;
    text-align: left;
  }

  .title-third{
    margin-left: 20px;
    text-align: left;
  }
  
  .paragraphthird{
    width: 60%;
    text-align: left;
  }

  .last-form{
    width: 50%;
    /* justify-content: left; */
    align-items: start;
  }
  
  .last-email{
     width: 80% ;
  }
    
  .last-cta{
    width: 30%;
    margin: 10px 0;
  }

  .footer{
    padding: 50px 50px;
    flex-direction: row;
    gap: 250px
  }

  .footer__figure{
    margin: 0;
    width: 40%;
  }

  .footer__contact{
    gap:20px;
  }

  .footer__container{
    flex-direction: row;
    gap: 200px;
  }

  .lista{
    margin-top: 70px;
  }

}